
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Payment Processing</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
</head>
<body>
<nav class="grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>



    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br></br>
        <h3 class="header center teal-text accent-3">Purchase successful! Thanks!</h3>
        <div class="row center">
            <h4 >Your Order</h4>
        </div>
        <div class="col s4">

            <h4 th:text="'Purchase for ' + ${number}"></h4>

            <h5 class="header col s12 light">Your Cart</h5>
            <table class="responsive-table striped" th:if="${not #lists.isEmpty(cart)}">
                <thead>
                    <th data-field="item">Item</th>
                    <th data-field="Price">Price</th>
                    <th data-field="qty">Quantity</th>

                    <th data-field="iTotal">Item Total</th>

                </thead>
                <tr th:each="item : ${cart}" >
                    <td th:text="${item.name}"></td>
                    <td>$ <span th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}">10.00</span></td>
                    <!--<td th:text="${item.price}"></td>-->
                    <td th:text="${item.quantity}"></td>
                    <td>$ <span th:text="${#numbers.formatDecimal(item.price*item.quantity, 0, 'COMMA', 2, 'POINT')}">10.00</span></td>
                    <!--<td th:text="${item.price}*${item.quantity}"></td>-->
                </tr>
            </table>
            <h5 class="header col s12 light">Your Merchant</h5>
            <container th:if="${merchant!=null}">
                <p th:text="'Name: ' + ${merchant.name}"></p>
                <p th:text="'Number: ' + ${merchant.number}"></p>
            </container>
            <h5 class="header col s12 light">Your Pickup</h5>
            <container th:if="${timeAndPlace!=null}">
                <p th:text="'Time: ' + ${timeAndPlace.time}"></p>
                <p th:text="'Place: ' + ${timeAndPlace.place}"></p>
            </container>


        </div>
        <br></br>


        <div class="row right">
            <h4 th:text="'Your Total: $ ' + ${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"/>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>



        <div class="row center">
            <a th:href="@{/purchase/cancel}" class="waves-effect waves-light btn-large teal darken-2">Cancel</a>
        </div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick"/>
            <input type="hidden" name="business" value="MQW8XDWWAR87N"/>
            <input type="hidden" name="amount" th:value="${total}"/>
            <input type="hidden" name="item_name" th:value="${checkout_message}"/>
            <input type="hidden" name="return" th:value="${return_url}"/>
            <input type="hidden" name="cancel_return" th:value="${cancel_return_url}"/>
            <input type="hidden" name="notify_url" th:value="${notify_url}"/>
            <input type="hidden" name="lc" value="US"/>
            <input type="hidden" name="button_subtype" value="services"/>
            <input type="hidden" name="no_note" value="0"/>
            <input type="hidden" name="cn" value="Add special instructions to the seller:"/>
            <input type="hidden" name="no_shipping" value="1"/>
            <input type="hidden" name="currency_code" value="USD"/>
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted"/>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
        </form>
        <div class="row center">
            <a th:href="${return_url}" class="waves-effect waves-light btn-large teal darken-2">Success</a>
        </div>


        <!--<div class="row left">
            <h4 class="white-text" th:text="'Your Total: $ ' + ${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"/>
        </div>-->
        <br></br>
        <br></br>

    </div>
</div>



<footer class="page-footer teal darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Westlake Fresh Up</h5>
                <p class="grey-text text-lighten-4">Some Motto Shit</p>


            </div>

        </div>
    </div>
    <!--<div class="footer-copyright">
      <div class="container">
      Some subFooter Text
      </div>
    </div>-->
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
