<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Payment Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Purchase successful! Thanks!</h1>
    <h2>Your Pickup</h2>
    <p th:text="'Time: ' + ${time}"></p>
    <p th:text="'Place: ' + ${place}"></p>
    <h2>Your Merchant</h2>
    <p th:text="'Name: ' + ${merchant_name}"></p>
    <p th:text="'Number: ' + ${merchant_number}"></p>
    <h2 th:text="'Total: $'+ ${total}"></h2>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Payment Success</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>



    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h3 class="header center teal-text accent-3">Purchase successful! Thanks!</h3>
        <div class="row center">
            <h5 class="header col s12 light">Your Pickup</h5>
            <p th:text="'Time: ' + ${time}"></p>
            <p th:text="'Place: ' + ${place}"></p>
            <h5>Your Merchant</h5>
            <p th:text="'Name: ' + ${merchant_name}"></p>
            <p th:text="'Number: ' + ${merchant_number}"></p>
            <h2 th:text="'Total: $'+ ${total}"></h2>
        </div>

        <br><br>

    </div>
</div>

<footer class="page-footer teal darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Westlake Fresh Up</h5>
                <p class="grey-text text-lighten-4">Some Motto Shit</p>


            </div>

        </div>
    </div>
    <!--<div class="footer-copyright">
      <div class="container">
      Some subFooter Text
      </div>
    </div>-->
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>

