<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Payment Processing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="'Purchase for ' + ${number}"></h1>

<h2><b>Your Cart</b></h2>
<table th:if="${not #lists.isEmpty(cart)}">
    <tr th:each="item : ${cart}" >
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
</table>
<h2><b>Your Merchant</b></h2>
<container th:if="${merchant!=null}">
    <p th:text="'Name: ' + ${merchant.name}"></p>
    <p th:text="'Number: ' + ${merchant.number}"></p>
</container>
<h2><b>Your Pickup</b></h2>
<container th:if="${timeAndPlace!=null}">
    <p th:text="'Time: ' + ${timeAndPlace.time}"></p>
    <p th:text="'Place: ' + ${timeAndPlace.place}"></p>
</container>

<h1 th:text="'Your Total: $' + ${total}"/>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick"/>
    <input type="hidden" name="business" value="MQW8XDWWAR87N"/>
    <input type="hidden" name="amount" th:value="${total}"/>
    <input type="hidden" name="item_name" th:value="${checkout_message}"/>
    <input type="hidden" name="return" th:value="${return_url}"/>
    <input type="hidden" name="cancel_return" th:value="${cancel_return_url}"/>
    <input type="hidden" name="notify_url" th:value="${notify_url}"/>
    <input type="hidden" name="lc" value="US"/>
    <input type="hidden" name="button_subtype" value="services"/>
    <input type="hidden" name="no_note" value="0"/>
    <input type="hidden" name="cn" value="Add special instructions to the seller:"/>
    <input type="hidden" name="no_shipping" value="1"/>
    <input type="hidden" name="currency_code" value="USD"/>
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted"/>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
</form>
</body>
</html>